# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
tracker/tracker_app
client/client_app
*.mkv

*.txt

*.m

testdir5/Fetter - Trombone Opera.pdf

testdir5/sdp.zip

testdir5/sdp/serialDataPlotter.ini

testdir5/test.c

testdir5/test.mp4

testdir5/The Sound of Two Black Holes Colliding.mp4

*.aux
*.log
*.toc

*.pdf
*.dvi
